<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ali Noureddine - Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  
<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="/">
    <img src="static/img/logo.png" alt="Ali Noureddine">
    <p>Ali Noureddine</p>
  </a>
  <p class="device-notification--message">Please orient your device to portrait or find a larger screen for the best experience.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="/">
            <img src="static/img/logo.png" alt="Ali Noureddine">
            <p>Ali Noureddine</p>
          </a>
          <button class="header--cta cta">Get In Touch</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Projects</span></li>
            <li><span>About</span></li>
            <li><span>Contact</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Crafting Efficient<br>Backend Architectures<br>for Tomorrow's Tech</h1>
                <button class="proj">View My Projects
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="static/img/introduction-visual.png" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="/">
                  <h3>Backend Development</h3>
                  <p>Go-based microservices, RESTful APIs, and high-performance systems.</p>
                </a>
                <a href="/">
                  <h3>Cloud Technologies</h3>
                  <p>AWS, Docker, Kubernetes, and distributed systems.</p>
                </a>
                <a href="/">
                  <h3>Software Engineering</h3>
                  <p>Data structures, algorithms, and test-driven development.</p>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Featured Projects</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="https://github.com/Alinoureddine1/TalentVault-SOEN-341-Project-2023">
                      <div class="slider--item-image">
                        <img src="static/img/talentvault.png" alt="TalentVault">
                      </div>
                      <p class="slider--item-title">TalentVault</p>
                      <p class="slider--item-description">MERN stack application for streamlining job search processes.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="https://github.com/Alinoureddine1/mysticfunds">
                      <div class="slider--item-image">
                        <img src="static/img/mysticfunds.png" alt="MysticFunds">
                      </div>
                      <p class="slider--item-title">MysticFunds</p>
                      <p class="slider--item-description">Microservices-based financial system using Go and gRPC.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="https://github.com/Alinoureddine1/ZenStay">
                      <div class="slider--item-image">
                        <img src="static/img/zenstay.png" alt="ZenStay">
                      </div>
                      <p class="slider--item-title">ZenStay</p>
                      <p class="slider--item-description">Bed &amp; Breakfast booking system using Go and PostgreSQL.</p>
                    </a>
                  </li>
                </ul>
                
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>About Me</h2>
                <div class="about--content">
                  <p>Hi, I'm Ali Noureddine, a Computer Engineering student at Concordia University, Montreal, with a strong passion for backend development and cloud technologies. My work focuses on creating efficient, scalable systems to address real-world challenges.</p>
                  
                  <p>Through internships and academic projects, I've developed expertise in Go, Java, C++, and cloud platforms like AWS and GCP. I'm particularly interested in microservices and distributed systems, and I continually work on personal projects to sharpen my skills.</p>
                  
                  <p>Feel free to explore my projects and learn more about what I do. I'm always eager to take on new challenges and collaborate on innovative solutions.</p>
                </div>
                <a href="static/resume_AliNoureddine.pdf" target="_blank"  id="resume-link">
                  My Resume
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                  </span>
                </a>
                <div class="about--contact">
                  <h3>Connect with Me</h3>
                  <p>If you'd like to check out my work or get in touch, feel free to use the links below:</p>
                  <div class="about--options">
                    <a href="https://github.com/Alinoureddine1" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/noureddineali/" target="_blank">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="mailto:Noureddine.ali@outlook.com">
                      <i class="fas fa-envelope"></i>
                    </a>
                  </div>
                </div>
              </div>
              
              
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <h2>Contact Me</h2>
                  <form class="contact-form" action="{{ url_for('submit_form') }}" method="POST">
                    <div class="form-group">
                      <input id="name" type="text" name="name" required spellcheck="false">
                      <label for="name">Name</label>
                    </div>
                    <div class="form-group">
                      <input id="email" type="email" name="email" required spellcheck="false">
                      <label for="email">Email</label>
                    </div>
                    <div class="form-group">
                      <textarea id="message" name="message" required spellcheck="false"></textarea>
                      <label for="message">Message</label>
                    </div>
                    <div class="form-group">
                      <select id="subject" name="subject" required>
                        <option value="" disabled selected>Select a subject</option>
                        <option value="Job Opportunity">Job Opportunity</option>
                        <option value="Project Collaboration">Project Collaboration</option>
                        <option value="General Inquiry">General Inquiry</option>
                      </select>
                    </div>
                    <button type="submit">Send Message</button>
                  </form>
                 
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Projects</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="static/js/functions-min.js"></script>
</body>
</html>
